---
title: Checkmate in one!
---

<h1>White to move</h1>
<p>How many checkmates can you solve in one minute?</p>

<div class="controls">
  <button id="start" class="btn">Start!</button>
  <div id="timer" class="timer hidden"></div>
  <div id="score" class="score hidden"></div>
</div>

<div id="board" class="board hidden"></div>
